blitzkode.gguf
checkpoints/
exported/
llama.cpp/
models/
datasets/
.gradio/
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/
Screenshot*
%USERPROFILE%*
USERPROFILE*
*.log
.idea/
.vscode/
